spring:
  cloud:
    config:
      override-system-properties: false

management:
  endpoints:
    web:
      exposure:
        include: info,health

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/

jwt:
  secret: b6b096c3-e08f-40dd-b1f3-f8ff1711ec6e
  access-token-validity: 900000
  refresh-token-validity: 604800000